body {
  height: 300vh;
}

div {
  height: 200px;
  width: 200px;
  margin: 5px;
}

div#div1 {
  background-color: black;
  position: fixed;
  right: 0;
  bottom: 0;
}

div#div2 {
  background-color: green;
  position: absolute;
  right: 0;
  top: 0;
}

div#div3 {
  background-color: blue;
  position: absolute;
  left: 0;
  bottom: 0;
}

div#div4 {
  height: 50px;
  width: 100vw;
  margin-top: 250px;
  position: sticky;
  top: 0;
  right: 0;
  background-color: red;
}
